body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vh;
    height: 100vh;
}

#ground {
    color: black;
    size: 1px;
    width: 100%;
    position: absolute;
    bottom: 1vh;
}

#aboutme {
    background-image: url('cloud.jpg');
    background-repeat: no-repeat;
    width: 20vh;
    height: 10vh;
    top: 5vh;
    left: 10%;
    position: absolute;
    background-size: cover;
    text-align: center;
    line-height: 10vh;
}

#projects {
    background-image: url('cloud.jpg');
    background-repeat: no-repeat;
    width: 20vh;
    height: 10vh;;
    top: 5vh;
    left: 40%;
    position: absolute;
    background-size: cover;
    text-align: center;
    line-height: 10vh;
}

#resume {
    background-image: url('cloud.jpg');
    background-repeat: no-repeat;
    width: 20vh;
    height: 10vh;
    top: 5vh;
    left: 70%;
    position: absolute;
    background-size: cover;
    text-align: center;
    line-height: 10vh;
}
