body {
    background-color: rgba(0,162,232, 1);
    margin: 0;
    padding: 0;
}

#sky {
    background-color: rgba(0,162,232,1);
    width: 200vh;
    height: 80vh;
    padding: 0;
    margin: 0;
}
#ground {
    background-color: lightgreen;
    width: 200vh;
    padding-bottom:20vh;
}

#navbutton {
    padding: 0;
    border: none;
    background: none;
}

#aboutme {
    background-image: url('cloud.png');
    background-repeat: no-repeat;
    width: 20vh;
    height: 10vh;
    top: 5vh;
    left: 10%;
    position: absolute;
    background-size: cover;
    text-align: center;
    line-height: 10vh;
}

#projects {
    background-image: url('cloud.png');
    background-repeat: no-repeat;
    width: 20vh;
    height: 10vh;;
    top: 5vh;
    left: 40%;
    position: absolute;
    background-size: cover;
    text-align: center;
    line-height: 10vh;
}

#resume {
    background-image: url('cloud.png');
    background-repeat: no-repeat;
    width: 20vh;
    height: 10vh;
    top: 5vh;
    left: 70%;
    position: absolute;
    background-size: cover;
    text-align: center;
    line-height: 10vh;
}
