body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vh;
    height: 100vh;
}

#ground {
    color: black;
    size: 1px;
    width: 100%;
    position: absolute;
    bottom: 1vh;
}
